html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
#map {
  width: 100%;
  height: 100%;
}
.leaflet-control-locate a { padding: 0 !important }

.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
